* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SuperMario;
}

.game-board {
    max-width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-position: bottom;
    background-size: cover;
    animation: background-animation 2s linear infinite;
}

.score {
    position: absolute;
    margin-left: 90px;
    margin-top: 2px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.score-img {
    position: absolute;
    width: 80px;
}

.game-over {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: none;
}

.jump {
    animation: jump 0.750s ease-out;
}

.pipe {
    position: absolute;
    bottom: 60px;
    width: 80px;
    animation: pipe-animation 2.2s linear infinite;
}

.luigi {
    width: 75px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

@font-face {
    font-family: SuperMario;
    src: url('../fonts/SuperMario256.ttf')
}

@keyframes background-animation {
    from {
        background-position: 798px;
    }
    to {
        background-position: 0px;
    }
}

@keyframes pipe-animation {
    from{ 
        right: -80px;
    }
    to {
        right: 94vh;
    }
}

@keyframes jump {
    from, to {
        bottom: 60px;
    }   

    40%, 60% {
        bottom: 240px;
    }
}